<%- include('../partials/head') %>
    <title>Tweets page</title>
</head>
<body>

    
    <h1>Tweets are here</h1>
    <ul>
        <a href="/comments/new">add new tweet</a><br>
        <% for ( let c of comments ) { %> 
            <li><b><%= c.username %></b> - <%= c.tweet %> <a href="/comments/<%= c.id %>">details</a>
            <div class="li_img"><img src="<%= c.img %>" alt="image from <%= c.username %>"></div>
            </li>
            
        <% } %>
        
    
    </ul>
    <%- include('../partials/foot') %>
